
<div class="row">
	<div class="col-md-12">
		<h2>LiveBracket</h2>
		<p><button type="button" class="btn btn-default" id="all_scores"><a href="http://live.mrdwc.com/knockout">View Knockout Table</a></button></p>
		<p><a href="http://mrdwc.com/schedule/">Click here for a more detailed view of the knockout process</a></p>
	</div>

</div>

<% include knockout %>

<div class="row">
	<div class="col-md-12">
		<h2>LiveTable</h2>
		<p>Teams are ranked by number of wins. If two teams have the same number of wins, score differential is used</p>
		<p><button type="button" class="btn btn-default" id="all_scores"><a href="http://mrdwc.com/results/">View All Scores</a></button></p>
	</div>

	<% include group %>
</div>
