<div class="row">
	<div class="col-lg-7">
		<% include video_qss %>
	</div>
	<div class="col-lg-5">
		<h2>Live Scoreboard</h2>
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-6">
						<h3 style="text-align:center" class="a_side_name">Team Name</h3>
						<h2 style="text-align:center" class="a_side_score">0</h2>
					</div>
					<div class="col-xs-6">
						<h3 style="text-align:center" class="b_side_name">Team Name</h3>
						<h2 style="text-align:center" class="b_side_score">0</h2>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-xs-3">
						<p style="text-align:center">Period</p>
						<p style="text-align:center" class="game_period">1</p>
					</div>
					<div class="col-xs-3">
						<p style="text-align:center">Jam</p>
						<p style="text-align:center" class="game_jam">1</p>
					</div>
					<div class="col-xs-3">
						<p style="text-align:center">Jam Time</p>
						<p style="text-align:center" class="game_time">0:00</p>
					</div>
					<div class="col-xs-3">
						<p style="text-align:center">Period Time</p>
						<p style="text-align:center" class="game_period_time">30:00</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p>Get live updates for this track on twitter via <a href="https://twitter.com/MRDWCQSSTrack">@MRDWCQSSTrack</a></p>
				<p>Follow <a href="https://twitter.com/MensRDWC">@MensRDWC</a> and <a href="https://twitter.com/search?q=%23mrdwc&src=typd&f=realtime">#MRDWC</a> for all the news</p>
			</div>
		</div>
	</div>
</div>