<h2>Video Feed</h2>

<iframe id='video_qss' src="http://new.livestream.com/accounts/6837737/events/2817369/player?width=640&height=360&autoPlay=false&mute=false" width="640" height="360" frameborder="0" scrolling="no"> </iframe>

<br />

<p>Feed: <button type="button" class="btn btn-default active" id="qss_button_e">English</button> <button type="button" class="btn btn-default" id="qss_button_a">Alternate</button> <button type="button" class="btn btn-default" id="qss_button_n">None</button></p>

<p><small><a target="_blank" href="http://live.mrdwc.com/knockout">Click here for the Schedule</a></small></p>